.welcomTitle {
  text-align: center;
  color: var(--primary, #483387);
  font-family: 'Jost';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-card-image {
  width: 204px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.custom-card-title {
  text-align: center;
  color: var(--gray-900, #212529);
  font-family: 'Jost';
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.68px;
  margin-top: 25px;
}

.custom-card-text {
  color: var(--body-text-base-color, #68717a);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.devider {
  color: var(--primary, #483387);
}

.topNavBar {
  height: 136px;
}

.navBarTitle {
  color: var(--secondary, #ff615a);
  font-family: 'Jost';
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.68px;
  margin-top: 30px;
}

.card:hover {
  cursor: pointer;
}

.navBarUserName {
  color: #000;
  font-family: 'Jost';
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  margin-top: 30px;
  margin-left: 20px;
}

.avatar {
  font-size: 30px;
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  padding: 30px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-image {
  margin-top: 15px;
  height: 50px;
  width: 50px;
  border-radius: 40px;
}