.sidebar{
    height: 100vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 0%;
    background-color: #5D4995;
}

.sideBarHeader{
    padding-top: 10px;
    text-align: center;
    color: white;
}

.singleSideBarItem{
    color: white;
    font-size: 18 px;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 10px;
}

.selectedSideBarItem {
    color: white;
    background-color: #cdb4db;
    border-radius: 2px;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 10px;
}

.singleSideBarItem a {
    color: white;
    text-decoration: none;
}

.singleSideBarItem:hover {
    color: white;
    background-color: #cdb4db;
    border-radius: 2px;  
}

.friendContainer{
    padding-top: 30px;
    height: 100vh;
}

.userImage{
    margin-top: 5px;
}

body {
    overflow-x: hidden;
}